<div class = "container">

    <div class = "jumbotron">
        <h1 id = "header"> New York Times Scraper App Using Cheerio! </h1>
        
    </div> {{!-- End of jumbotron class --}}
</div> {{!--End of container class --}}